---
preheader: .
language: pt
---
<x-main>
    <div class="-tracking-[.3px] [&>*p]:m-0 py-4 rounded-2xl">
        <table align="center" class="m-0 mx-auto">
            </tr>
            <tr>
                <td class="w-[552px] max-w-full">
                    <!-- src="https://firebasestorage.googleapis.com/v0/b/upload-hub-fdabc.appspot.com/o/files%2Fimage%20103.jpg?alt=media&token=30397929-5c71-4c1e-9cf8-2c9958382147" -->
                    <!-- src="https://firebasestorage.googleapis.com/v0/b/upload-hub-fdabc.appspot.com/o/files%2Ftag.png?alt=media&token=65323834-78fb-4e3d-bee4-45676a138b5c" -->
                    <img src="https://firebasestorage.googleapis.com/v0/b/upload-hub-fdabc.appspot.com/o/files%2FPot%20(1).png?alt=media&token=4208dece-c472-4d81-974f-8adc8dca5172"
                        class="object-cover w-full rounded-3xl" alt="">
                    <x-spacer height="4px" />
                    <x-card class="p-4">
                        <p data-content class="px-1 mx-auto">
                            Olá <strong class="font-semibold text-[#5C307E]">Diego Santana</strong>, Informamos que seu
                            visitante
                            <strong class="font-semibold text-[#5C307E]">Pablo Novaes</strong> acabou de entrar no
                            condomínio.
                        </p>
                    </x-card>
                </td>
            </tr>
        </table>
        </td>
        </tr>
        </table>
    </div>
</x-main>