---
preheader: Sua encomenda acabou de chegar.
language: pt
---
<x-main>
    <div class="bg-[#ffffff] p-6">
        <h1 data-subtitle class="-tracking-[.8px]">Sua encomenda chegou!</span>
        </h1>
        <x-spacer height="10px" />
        <p data-content class="-tracking-[1px]">
            <span>
                Olá<span class="text-[#663C9D]"> Diego Santana,</span>
            </span>
            Informamos que sua encomenda chegou no condomnio e já pode ser retirada.
        </p>
        <x-spacer height="20px" />
        <div class="rounded-3xl border overflow-auto custom-card-bg pb-1.5">
            <table class="w-full h-[25%]">
                <tr class="h-3"></tr>
                <tr align="center">
                    <td class="w-1.5"></td>
                    <td>
                        <table class="w-fit">
                            <tr>
                                <td>
                                    <img src="https://droper-media.us-southeast-1.linodeobjects.com/11420221410911.webp"
                                        class="bg-[#fff] rounded-3xl border size-42 object-contain p-2" alt="">
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="w-1.5"></td>
                </tr>
                <tr align="center">
                    <td class="min-w-1.5"></td>
                    <td>
                        <table class="w-full" align="center">
                            <tr align="center">
                                <td>
                                    <p data-name>Air Jordan 4 - Military Black</p>
                                    <x-spacer height="2px" />
                                    <p data-subtext>#98614</p>
                                    <x-spacer height="2px" />
                                    <div class="pending-tag w-fit px-2 py-px">Pendente</div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="min-w-1.5"></td>
                </tr>
                <tr class='h-3'></tr>
                <tr align="center">
                    <td class="min-w-1.5"></td>
                    <td class="border rounded-2xl bg-[#f8f9fa]">
                        <table class="w-full p-1 [&_tr_td[align='end']]:pr-3 [&_tr_td[align='start']]:pl-3"
                            align="center">
                            <tr class="h-8">
                                <td align="start">
                                    <p data-subtext>Recebimento</p>
                                </td>
                                <td align="end">
                                    <p data-text>27/02/2025</p>
                                </td>
                            </tr>
                            <tr class="bg-[#E6E6E6] h-px">
                                <td colspan="2"></td>
                            </tr>
                            <tr class="h-8">
                                <td align="start">
                                    <p data-subtext>Morador</p>
                                </td>
                                <td align="end">
                                    <p data-text>Diego Santana</p>
                                </td>
                            </tr>
                            <tr class="bg-[#E6E6E6] h-px">
                                <td colspan="2"></td>
                            </tr>
                            <tr class="h-8">
                                <td align="start">
                                    <p data-subtext>Condomínio</p>
                                </td>
                                <td align="end">
                                    <p data-text>Livo App</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="min-w-1.5"></td>
                </tr>
            </table>

        </div>
        <!-- <x-spacer height="10px" />
            <img class="w-full h-full rounded-[30px] mx-auto [border:solid_6px_#F6F6FD]"
                src="https://firebasestorage.googleapis.com/v0/b/upload-hub-fdabc.appspot.com/o/files%2Freunion%20(1).jpg?alt=media&token=077b4cae-517d-4ab8-836e-370eed4ee7dd"
                alt=""> -->
    </div>

</x-main>