---
preheader: Finalize seu cadastro e aproveite todos os benefícios do aplicativo!
language: pt
---
<x-main>
    <div class="-tracking-[.3px] [&>*p]:m-0 p-4">
        <table align="center" class="m-0 mx-auto">
            <tr align="center">
                <td class="w-[552px] max-w-full">
                    <div class="pl-1">
                        <img src="https://firebasestorage.googleapis.com/v0/b/upload-hub-fdabc.appspot.com/o/files%2FVector%20(4).png?alt=media&token=1e1b81fe-d6ac-4a5d-8e1f-0007140c19cb"
                            alt="condominio-logo" class="max-w-[35px] rounded-md">
                        <h1 data-title class="font-semibold text-center mt-3">Falta pouco para você <br>finalizar seu
                            cadastro</h1>
                        <x-spacer height="13px" />
                        <p data-content class="[&_strong]:text-[#7D40AC] font-light resize-text font-sans">
                            Olá <strong>Jonathan</strong>,

                            Somos do LivoApp e temos o prazer de informá-lo que você foi vinculado ao condomínio
                            <strong>Alphalivo</strong>, em Rua Santos, 10.
                        </p>
                        <p data-content class="[&_strong]:text-[#7D40AC] font-light resize-text font-sans mt-2">
                            Para criar o seu acesso ao aplicativo, basta clicar no link abaixo e realizar um breve
                            cadastro. Além disso, solicitamos
                            que tire uma foto para o reconhecimento facial, o que garantirá seu acesso aos equipamentos.
                        </p>
                    </div>
                    <x-spacer height="22px" />
                    <img src="https://firebasestorage.googleapis.com/v0/b/upload-hub-fdabc.appspot.com/o/files%2Ffinish-register.jpg?alt=media&token=567e22ff-4e8e-43d9-8fb0-61673822e053"
                        class="w-full rounded-[40px] mx-auto" alt="">
                    <x-spacer height="22px" />
                    <table class="w-full">
                        <tr>
                            <td>
                                <button
                                    class="w-full text-center rounded-xl h-12 bg-[#7D40AC] text-white border-none text-[12px] font-medium">Finalize
                                    seu cadastro</button>
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
            <tr class="h-5"></tr>
            <tr>
                <td>
                    <x-card class="">
                        <table class="w-full p-6">
                            <tr align="center" data-content class="font-light resize-text font-sans text-center">
                                <td>
                                    Essa notificação foi enviada ao endereço de e-mail
                                    <!-- <br class="max-sm:hidden" /> -->
                                    associado a sua conta LIVO.
                                </td>
                            </tr>
                            <tr class="h-1"></tr>
                            <tr align="center" data-content class="font-light resize-text text-center">
                                <td>
                                    Não responda a este e-mail, caso necessite de ajuda,
                                    <!-- <br class="max-sm:hidden" /> -->
                                    entre em contato com nosso suporte
                                </td>
                            </tr>
                            <tr class="h-2"></tr>
                            <tr align="center" data-content class="font-light resize-text text-center">
                                <td>
                                    <a target="_blank" class="resize-text text-[#7D40AC]"
                                        href="https://api.whatsapp.com/send?phone=5511991534123&text=Ol%C3%A1%2C%20gostaria%20de%20ajuda%20com%20a%20plataforma%20Livo.">
                                        Suporte via WhatsApp
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </x-card>
                </td>
            </tr>
            <tr class="h-4"></tr>
            <tr>
                <td>
                    <div class="rounded-[25px] p-6">
                        <table class="w-full" align="center">
                            <tr align="center">
                                <td>
                                    <img src="https://firebasestorage.googleapis.com/v0/b/upload-hub-fdabc.appspot.com/o/files%2Fico%20(1).png?alt=media&token=c0a9eb99-5e50-48fa-8d3a-144c380f5548"
                                        class="w-14" alt="" />
                                </td>
                            </tr>
                            <tr align="center" class="font-semibold">
                                <td>Livo App</td>
                            </tr>
                            <tr align="center" class="font-normal text-[13px] text-current">
                                <td>Sua portaria conectada</td>
                            </tr>
                        </table>
                        <!-- <div class="h-3"></div>
                  <table class="w-full">
                    <tr align="center">
                      <td>
                        <img src="https://img-64e62d326ae56091b6bce833a76dafa6b1758ff9.s3.amazonaws.com/logos/atgb.png"
                          alt="" class="max-h-[80px] mx-auto">
                      </td>
                    </tr>
                  </table> -->
                        <div class="h-3"></div>
                        <table class="w-full" align="center">
                            <tr align="center" class="font-semibold">
                                <td colspan="3">Contatos</td>
                            </tr>
                            <tr class="h-1"></tr>
                            <tr align="center" class="h-[40px]">
                                <td align="right">
                                    <a
                                        href="https://api.whatsapp.com/send?phone=5511991534123&text=Ol%C3%A1%2C%20gostaria%20de%20ajuda%20com%20a%20plataforma%20Livo.">
                                        <div class="rounded-[14px] h-[38px] card w-fit p-1.5">
                                            <img loading="lazy" class="sm:w-6 w-7"
                                                src="https://firebasestorage.googleapis.com/v0/b/upload-hub-fdabc.appspot.com/o/files%2FFrame.png?alt=media&token=ddeed02a-f189-4e42-a804-79763e35c7e7" />
                                        </div>
                                    </a>
                                </td>
                                <td class="w-[60px]">
                                    <a href="https://www.instagram.com/livoapp/">
                                        <div class="rounded-[14px] h-[38px] card w-fit p-1.5">
                                            <img loading="lazy" class="sm:w-6 w-7"
                                                src="https://firebasestorage.googleapis.com/v0/b/upload-hub-fdabc.appspot.com/o/files%2FFrame-1.png?alt=media&token=ad760e02-6e6e-4d7f-b23c-fd9410e774d8" />
                                        </div>
                                    </a>
                                </td>
                                <td align="left">
                                    <a href="mailto:contato@livoapp.com.br">
                                        <div class="rounded-[12px] h-[38px] card w-fit p-1.5">
                                            <img loading="lazy" class="sm:w-6 w-7"
                                                src="https://firebasestorage.googleapis.com/v0/b/upload-hub-fdabc.appspot.com/o/files%2FFrame-2.png?alt=media&token=557e308f-7b51-49aa-9e21-6d6469c4315d" />
                                        </div>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <table class="w-full">
                            <tr>
                                <p class="text-xs text-center pt-3">
                                    LIVO TECNOLOGIA DA INFORMACAO LTDA
                                    <br />
                                    CNPJ: 40.008.355/0001-41
                                </p>
                            </tr>
                            <tr align="center">
                                <td class="pt-3">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/upload-hub-fdabc.appspot.com/o/files%2Fcopy.png?alt=media&token=2c506de9-3624-4dcd-919f-36c63f4bd6c2"
                                        class="w-26" alt="">
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
        </td>
        </tr>
        </table>
    </div>
</x-main>