---
preheader: Finalize seu cadastro e aproveite todos os benefícios do aplicativo!
language: pt
---
<x-main>
    <div class="bg-[#ffffff] p-6">
        <h1 data-subtitle class="-tracking-[.8px]">
            Falta pouco para você finalizar seu cadastro
        </h1>
        <x-spacer height="10px" />
        <p data-content class="-tracking-[1px] [&_strong]:text-[#663C9D]">
            <span>
                Olá<strong class="text-[#663C9D]"> Diego Santana,</strong>
            </span>
            somos do LivoApp e temos o prazer de informá-lo que você foi vinculado ao condomínio
            <strong>Alphalivo</strong>, em Rua Santos, 10.
        </p>
        <p data-content class="[&_strong]:text-[#7D40AC]  mt-2">
            Para criar o seu acesso ao aplicativo, basta clicar no link abaixo e realizar um breve
            cadastro. Além disso, solicitamos
            que tire uma foto para o reconhecimento facial, o que garantirá seu acesso aos
            equipamentos.
        </p>
        <x-spacer height="10px" />
        <img class="w-full h-full rounded-[30px] mx-auto [border:solid_6px_#F6F6FD]"
            src="https://firebasestorage.googleapis.com/v0/b/upload-hub-fdabc.appspot.com/o/files%2Ffinish-register%20(1).jpg?alt=media&token=844636dc-3044-41e7-a8c3-14d1b302acc7"
            alt="">
        <x-spacer height="10px" />
        <button class="w-full text-center rounded-xl h-12 bg-[#663C9D] border-none font-medium">
            <p class=" text-white text-[.9em]">Finalize seu cadastro</p>
        </button>
    </div>
</x-main>