---
preheader: Finalize seu cadastro e aproveite todos os benefícios do aplicativo!
language: pt
---
<x-main>
    <div class="-tracking-[.3px] [&>*p]:m-0 py-4 rounded-2xl">
        <table align="center" class="m-0 mx-auto">
            <tr align="center">
                <td class="w-[552px] max-w-full">
                    <div class="pl-1">
                        <h1 data-title class="font-semibold text-center -tracking-[1.2px]">Falta pouco para você
                            <br>finalizar seu
                            cadastro
                        </h1>
                        <!-- <x-spacer height="13px" /> -->
                        <x-spacer height="20px" />
                        <p data-content class="[&_strong]:text-[#7D40AC] ">
                            Olá <strong>Jonathan</strong>,

                            Somos do LivoApp e temos o prazer de informá-lo que você foi vinculado ao condomínio
                            <strong>Alphalivo</strong>, em Rua Santos, 10.
                        </p>
                        <p data-content class="[&_strong]:text-[#7D40AC]  mt-2">
                            Para criar o seu acesso ao aplicativo, basta clicar no link abaixo e realizar um breve
                            cadastro. Além disso, solicitamos
                            que tire uma foto para o reconhecimento facial, o que garantirá seu acesso aos
                            equipamentos.
                        </p>
                    </div>
                    <x-spacer height="22px" />
                    <img src="https://firebasestorage.googleapis.com/v0/b/upload-hub-fdabc.appspot.com/o/files%2Ffinish-register%20(1).jpg?alt=media&token=844636dc-3044-41e7-a8c3-14d1b302acc7"
                        class="w-full rounded-[30px] mx-auto" alt="">
                    <x-spacer height="16px" />
                    <table class="w-full">
                        <tr>
                            <td>
                                <button
                                    class="w-full text-center rounded-full h-12 bg-[#7D40AC] text-white border-none font-medium">
                                    Finalize seu cadastro
                                </button>
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table>
        </td>
        </tr>
        </table>
    </div>
</x-main>