---
preheader: Você recebeu um convite.
language: pt
---
<x-main>
    <div class="bg-[#ffffff] p-6 text-center">
        <h1 data-subtitle class="-tracking-[.8px]">
            Você foi convidado!
        </h1>
        <x-spacer height="10px" />
        <p data-content class="-tracking-[1px] [&_strong]:font-black [&_strong]:text-[#5e3fbc]">
            <span>
                Olá<strong class="text-[#5e3fbc]"> Diego Santana,</strong>
            </span>
            agora você pode utilizar o <strong>reconhecimento facial</strong> para entrar no condomínio de forma
            prática e segura.
        </p>
        <x-spacer height="20px" />
        <img class=" max-w-[300px] w-full rounded-[30px] mx-auto object-cover"
            src="https://firebasestorage.googleapis.com/v0/b/upload-hub-fdabc.appspot.com/o/files%2FGroup%20226%20(3).png?alt=media&token=99115971-af12-4da4-af14-0a4da9ac1a05">
        <x-spacer height="15px" />
        <button
            class="bg-[#5e3fbc] border-none w-full max-w-[420px] rounded-xl p-2 py-3 hover:brightness-75 cursor-pointer">
            <table class="w-full">
                <tr align="center">
                    <td>
                        <table>
                            <tr align="center">
                                <td class="align-middle">
                                    <img class="w-4 color-white invert-0"
                                        src="https://firebasestorage.googleapis.com/v0/b/upload-hub-fdabc.appspot.com/o/files%2FVector%20(2).png?alt=media&token=2257faec-652f-4ec6-89b4-3fabdf5ea59c"
                                        alt="">
                                </td>
                                <td class="pl-1">
                                    <p class="text-white" data-text>Ver local no Google Maps</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </button>
        <x-spacer height="20px" />
        <div class="bg-[#f8f9fa] p-4 rounded-xl border mx-auto">
            <h3 class="text-start text-[1.03em]">Mensagem do condominio</h3>
            <p class="text-start text-[1em]">Seja muito bem-vindo! Siga as intruções para entrar no condomnio:
                <x-spacer height="10px" />
            <ul class=" pl-6 text-[1em] [&_li]:text-start">
                <li> Leve seu cartão de visita.</li>
                <li>Utilize o reconhecimento facial para entrar.</li>
                <li>Siga as instruções do condomínio.</li>
            </ul>
            </ul>
            </p>
        </div>
        <!-- <img class=" rounded-[30px] mx-auto [border:solid_6px_#F6F6FD] aspect-square max-w-[300px] w-full"
            src="https://ci3.googleusercontent.com/meips/ADKq_NajEHJaF4zfHEQjVrphmOpR4AAQXO9Nll-FOb25a6m4djQqvng98R6SBGBjOOtai9woP4i2hZLFl47LosnsM_5iEj4qMFRVHpgTlWI0bXipEfMooPTc9XNPsCADhxrB_iPe1bkqsID07xpATj3jH4iHu1D8wwQTaYp603iOsM_J7dagzOrf7SWt5eQXyqnl1KNRZNl7jHtH=s0-d-e1-ft#https://img-64e62d326ae56091b6bce833a76dafa6b1758ff9.s3.amazonaws.com/qrcode_convite/eb31acc601babefa322cbb1e0a51b40c0b895404.jpg"
            alt=""> -->
    </div>
</x-main>