---
preheader: Você recebeu um convite.
language: pt
---
<x-main>
    <div class="bg-[#ffffff] p-6 text-center">
        <h1 data-subtitle class="-tracking-[.8px]">
            Você foi convidado!
        </h1>
        <x-spacer height="10px" />
        <p data-content class="-tracking-[1px] [&_span[data-bold]]:text-[#663C9D]">
            <span>
                Olá<span data-bold> Diego Santana,</span>
            </span>
            agora você pode utilizar a sua <span data-bold>facial</span> para
            acessar o condomínio de forma prática e segura.
        </p>
        <x-spacer height="20px" />
        <img class="mx-auto w-full doc-or-faceid"
            src="https://firebasestorage.googleapis.com/v0/b/upload-hub-fdabc.appspot.com/o/files%2Fface-scan.png?alt=media&token=a2d878f9-df91-4c81-b434-80b34651fb7e"
            alt="">
        <x-spacer height="15px" />

        <button
            class="bg-[#663C9D] border-none w-full max-w-[420px] rounded-xl p-2 py-4 hover:brightness-75 cursor-pointer">
            <a class="no-underline" href="https://maps.app.goo.gl/RqGsUdQbcVTekLzTA">
                <table class="w-full">
                    <tr align="center">
                        <td>
                            <p class="text-white text-[0.94em]">Ver local no Google Maps</p>
                        </td>
                    </tr>
            </a>
            </table>
        </button>
        <x-spacer height="20px" />
        <div class="bg-[#f8f9fa] p-4 rounded-xl border mx-auto">
            <h3 class="text-start text-[1.25em]">Mensagem do condominio</h3>
            <p class="text-start text-[1.1em]">Seja muito bem-vindo! Siga as intruções para entrar no condomnio:
                <x-spacer height="10px" />
            <ul class=" pl-6 text-[1.08em] [&_li]:text-start">
                <li>Localize e utilize o equipamento de reconhecimento facial na entrada do condomínio.</li>
                <li>Se houver algum problema, apresente-se na portaria com o documento que foi utilizado ao preencher o
                    convite.</li>
            </ul>
            </ul>
            </p>
        </div>

    </div>
</x-main>