---
preheader: Você recebeu um convite.
language: pt
---
<x-main>
    <div class="bg-[#ffffff] p-6 text-center">
        <h1 data-subtitle class="-tracking-[.8px]">
            Você foi convidado!
        </h1>
        <x-spacer height="10px" />
        <p data-content class="-tracking-[1px] [&_strong]:font-black [&_strong]:text-[#5937c0]">
            <span>
                Olá<strong class="text-[#5937c0]"> Diego Santana,</strong>
            </span>
            agora você pode utilizar a <strong>Facial</strong> para entrar no condomínio de maneira rápida e prática.
        </p>
        <x-spacer height="20px" />
        <!-- <img style="object-position: 0 36%;"
            class="w-full h-full rounded-[30px] mx-auto [border:solid_6px_#F6F6FD] aspect-video object-cover"
            src="https://www.livoapp.com.br/0.jpg" alt=""> -->
        <img class=" rounded-[30px] mx-auto [border:solid_6px_#F6F6FD] aspect-square max-w-[300px] w-full"
            src="https://ci3.googleusercontent.com/meips/ADKq_NajEHJaF4zfHEQjVrphmOpR4AAQXO9Nll-FOb25a6m4djQqvng98R6SBGBjOOtai9woP4i2hZLFl47LosnsM_5iEj4qMFRVHpgTlWI0bXipEfMooPTc9XNPsCADhxrB_iPe1bkqsID07xpATj3jH4iHu1D8wwQTaYp603iOsM_J7dagzOrf7SWt5eQXyqnl1KNRZNl7jHtH=s0-d-e1-ft#https://img-64e62d326ae56091b6bce833a76dafa6b1758ff9.s3.amazonaws.com/qrcode_convite/eb31acc601babefa322cbb1e0a51b40c0b895404.jpg"
            alt="">
    </div>
</x-main>