---
preheader: Recupere sua senha utilizando o codigo recebido.
language: pt
---
<x-main>
    <div class="text-center bg-[#ffffff] p-6">
        <h1 data-subtitle class="-tracking-[.8px]">
            Recuperação de senha
        </h1>
        <x-spacer height="10px" />
        <p data-content class="-tracking-[1px] [&_strong]:text-[#663C9D]">
            <span>
                Olá<strong class="text-[#663C9D]"> Diego Santana,</strong>
            </span>
            Utilize o código abaixo para redefinir sua senha do Livo App:
        </p>
        <x-spacer height="10px" />
        <table class="w-full">
            <tr align="center">
                <td>
                    <span class="inline-table">
                        <span
                            class="font-bold inline-block text-[1.24em] bg-[#F8F9FA] border border-[#E9ECF2] py-2 p-3 rounded-xl mx-[2px]">7</span>
                        <span
                            class="font-bold inline-block text-[1.24em] bg-[#F8F9FA] border border-[#E9ECF2] py-2 p-3 rounded-xl mx-[2px]">4</span>
                        <span
                            class="font-bold inline-block text-[1.24em] bg-[#F8F9FA] border border-[#E9ECF2] py-2 p-3 rounded-xl mx-[2px]">5</span>
                        <span
                            class="font-bold inline-block text-[1.24em] bg-[#F8F9FA] border border-[#E9ECF2] py-2 p-3 rounded-xl mx-[2px]">4</span>
                        <span
                            class="font-bold inline-block text-[1.24em] bg-[#F8F9FA] border border-[#E9ECF2] py-2 p-3 rounded-xl mx-[2px]">7</span>
                        <span
                            class="font-bold inline-block text-[1.24em] bg-[#F8F9FA] border border-[#E9ECF2] py-2 p-3 rounded-xl mx-[2px]">8</span>
                    </span>
                </td>
            </tr>
        </table>
    </div>
</x-main>