---
preheader: Houve uma atualização na sua reserva de espaço, confira:.
language: pt
---
<x-main>
    <div class="bg-[#ffffff] p-6">
        <h1 data-subtitle class="-tracking-[.8px]">Atualização de reserva</span>
        </h1>
        <x-spacer height="10px" />
        <p data-content class="-tracking-[1px]">
            <span>
                Olá<span class="text-[#5937c0]"> Diego Santana,</span>
            </span>
            Informamos que sua reserva de espaço foi confirmada.
        </p>
        <x-spacer height="20px" />
        <div class="rounded-3xl border overflow-auto custom-card-bg pb-1.5">
            <table class="w-full h-[25%]">
                <tr class="h-3"></tr>
                <tr align="center">
                    <td class="w-1.5"></td>
                    <td>
                        <table class="w-fit">
                            <tr>
                                <td align="center">
                                    <img src="https://a0.muscache.com/im/pictures/e3fa44a8-82ba-4b26-8260-826ec9d4007c.jpg?im_w=1440&im_format=avif&im_origin=fuzzy"
                                        class="bg-[#fff] rounded-3xl border w-[90%] object-fill p-1.5" alt="">
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="w-1.5"></td>
                </tr>
                <tr align="center">
                    <td class="min-w-1.5"></td>
                    <td>
                        <table class="w-full" align="center">
                            <tr align="center">
                                <td>
                                    <x-spacer height="8px" />
                                    <div class="approved-tag w-fit px-2 py-px">Aprovado</div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="min-w-1.5"></td>
                </tr>
                <tr class='h-3'></tr>
                <tr align="center">
                    <td class="min-w-1.5"></td>
                    <td class="border rounded-2xl bg-[#f8f9fa]">
                        <table class="w-full p-1 [&_tr_td[align='end']]:pr-3 [&_tr_td[align='start']]:pl-3"
                            align="center">
                            <tr class="h-8">
                                <td align="start">
                                    <p data-subtext>Espaço</p>
                                </td>
                                <td align="end">
                                    <p data-text>Academia</p>
                                </td>
                            </tr>
                            <tr class="bg-[#E6E6E6] h-px">
                                <td colspan="2"></td>
                            </tr>
                            <tr class="h-8">
                                <td align="start">
                                    <p data-subtext>Data</p>
                                </td>
                                <td align="end">
                                    <p data-text>27/02/2025</p>
                                </td>
                            </tr>
                            <tr class="bg-[#E6E6E6] h-px">
                                <td colspan="2"></td>
                            </tr>
                            <tr class="h-8">
                                <td align="start">
                                    <p data-subtext>Morador</p>
                                </td>
                                <td align="end">
                                    <p data-text>Diego Santana</p>
                                </td>
                            </tr>
                            <tr class="bg-[#E6E6E6] h-px">
                                <td colspan="2"></td>
                            </tr>
                            <tr class="h-8">
                                <td align="start">
                                    <p data-subtext>Condomínio</p>
                                </td>
                                <td align="end">
                                    <p data-text>Livo App</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="min-w-1.5"></td>
                </tr>
            </table>
        </div>
    </div>
</x-main>