---
preheader: Você recebeu um novo comunicado.
language: pt
---
<x-main>
    <div class="bg-[#ffffff] p-6">
        <h1 data-subtitle class="-tracking-[.8px]">Comunicado de reunião</span>
        </h1>
        <x-spacer height="10px" />
        <p data-content class="-tracking-[1px]">
            <span>
                Olá<span class="text-[#663C9D]"> Diego Santana,</span>
            </span>
            Informamos que na próxima segunda-feira (24/02), haverá a reunião sobre a substituição do atual
            sub-sindico.
        </p>
        <x-spacer height="10px" />
        <img class="w-full h-full rounded-[30px] mx-auto [border:solid_6px_#F6F6FD]"
            src="https://firebasestorage.googleapis.com/v0/b/upload-hub-fdabc.appspot.com/o/files%2Freunion%20(1).jpg?alt=media&token=077b4cae-517d-4ab8-836e-370eed4ee7dd"
            alt="">
    </div>
</x-main>