---
preheader: Você recebeu um novo comunicado.
language: pt
---
<x-main>
    <div class="-tracking-[.3px] [&>*p]:m-0 pt-4 rounded-2xl max-w-[650px] mx-auto">
        <table class="m-0 mx-auto bg-custom w-full  rounded-3xl pl-6 py-6">
            <tr>
                <td>
                    <table>
                        <tr align="center">
                            <td class="align-middle  rounded-full">
                                <img src="https://firebasestorage.googleapis.com/v0/b/upload-hub-fdabc.appspot.com/o/files%2Fstatement-icon%20(1).png?alt=media&token=7d214619-400a-4c08-b67e-a11dbed172ac"
                                    alt="condominio-logo" class="mt-1 size-[60px] object-contain rounded-md text-white">
                            </td>
                        </tr>
                    </table>
            <tr class="h-5"></tr>
            <tr>
                <td>
                    <h1 class="text-white" data-title>Comunicado de reunião</h1>
                    <!-- <h3 class="text-white font-normal w-[90%]" data-statement-subtitle>Você recebeu um
                        novo comunicado
                        do seu
                        condomínio</h3> -->
                </td>
            </tr>
        </table>
        </td>
        </tr>
        </table>
        <x-spacer height="13px" />
        <x-card class="p-4">
            <h1 data-subtitle class="font-semibold -tracking-[1.3px]">Olá
                <strong class="text-[#562E82_!important]">Diego
                    Santana</strong>
            </h1>
            <x-spacer height="7px" />
            <p data-content class="font-normal">
                Informamos que na próxima segunda-feira (24/02), hávera a reunião
                sobre a
                substituição
                do atual sub-sindico.
            </p>
        </x-card>
        <!-- <table class="w-full" align="center">
            <tr>
                <td>
                    <img class="w-full rounded-3xl mt-4"
                        src="https://img-64e62d326ae56091b6bce833a76dafa6b1758ff9.s3.amazonaws.com/fotos_mural/07b9dfbaa4d9e0e0711c134387a6ef7671bd9cf1.jpg"
                        alt="">
                </td>
            </tr>
        </table> -->
    </div>
    <x-spacer height="18px" />
    </td>
    </tr>
    </table>
    </td>
    </tr>
    </table>
    </div>
</x-main>