---
preheader: Você recebeu um novo comunicado.
language: pt
---
<x-main>
    <div class="-tracking-[.3px] [&>*p]:m-0 pt-4 rounded-2xl max-w-[552px] mx-auto">
        <table class="m-0 mx-auto bg-custom w-full  rounded-[40px] pl-6 py-6">
            <tr>
                <td>
                    <table>
                        <tr align="center">
                            <td class="align-middle statement-bg-custom rounded-full">
                                <img src="https://firebasestorage.googleapis.com/v0/b/upload-hub-fdabc.appspot.com/o/files%2FVector%20(4).png?alt=media&token=bdfa7f89-97b1-4bea-a0d6-235b6f369693"
                                    alt="condominio-logo"
                                    class="mt-1 size-[60px] w-[69px]  p-5 object-contain rounded-md text-white">
                            </td>
                        </tr>
                    </table>
            <tr class="h-5"></tr>
            <tr>
                <td>
                    <h1 class="text-white" data-statement-title>Comunicado</h1>
                    <h3 class="text-white font-normal w-[90%]" data-statement-subtitle>Você recebeu um novo comunicado
                        do seu
                        condomínio</h3>
                </td>
            </tr>
        </table>
        </td>
        </tr>
        </table>
        <x-spacer height="13px" />
        <x-card class="p-4">
            <h1 data-subtitle class="font-semibold text-center -tracking-[1.2px]">Comunicado de
                reunião
            </h1>
            <x-spacer height="7px" />
            <p data-notify class="text-center max-w-[450px] mx-auto font-normal">
                Olá Diego Santana, informamos que na próxima segunda-feira (24/02), hávera a reunião
                sobre a
                substituição
                do atual sub-sindico.
            </p>
            <img class="w-full rounded-xl mt-4"
                src="https://img-64e62d326ae56091b6bce833a76dafa6b1758ff9.s3.amazonaws.com/fotos_mural/07b9dfbaa4d9e0e0711c134387a6ef7671bd9cf1.jpg"
                alt="">
        </x-card>
    </div>
    <x-spacer height="18px" />
    </td>
    </tr>
    </table>
    </td>
    </tr>
    </table>
    </div>
</x-main>