---
preheader: Seu visitante acabou de entrar no condomínio.
language: pt
---
<x-main>
  <div class="-tracking-[.3px] [&>*p]:m-0 py-4 rounded-2xl">
    <table align="center" class="m-0 mx-auto">
      <tr>
        <td class="w-[552px] max-w-full">
          <!-- src="https://firebasestorage.googleapis.com/v0/b/upload-hub-fdabc.appspot.com/o/files%2Fimage%20103.jpg?alt=media&token=30397929-5c71-4c1e-9cf8-2c9958382147" -->
          <!-- src="https://firebasestorage.googleapis.com/v0/b/upload-hub-fdabc.appspot.com/o/files%2Ftag.png?alt=media&token=65323834-78fb-4e3d-bee4-45676a138b5c" -->
          <div class="pl-1">
            <h1 data-title class="font-semibold text-center -tracking-[1.2px]">Acesso de visitante</h1>
            <x-spacer height="13px" />
            <p data-content class="text-center max-w-[350px] mx-auto">
              Olá <strong class="font-semibold text-[#7D40AC]">Diego Santana</strong>, Informamos que seu visitante
              <strong class="font-semibold text-[#7D40AC]">Pablo Novaes</strong> acabou de entrar no condomínio.
            </p>
          </div>
          <x-spacer height="22px" />
          <table class="w-full">
            <tr align="center">
              <td>
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/upload-hub-fdabc.appspot.com/o/files%2FIMG_20220723_191648_093.jpg?alt=media&token=9cd547ad-fe3d-4a59-97b6-b0ee31349847"
                  alt="" class="w-full max-w-[350px] [box-shadow:0_0_0_3px_#7D40AC] rounded-[40px]" />
              </td>
            </tr>
          </table>
          <x-spacer height="15px" />
          <x-card class="p-4 pt-5">
            <table class="w-full">
              <tr align="center">
                <td>
                  <p data-name>
                    Pablo Novaes Goncalves de Macedo
                  </p>
                  <p data-condominium>
                    Livo App
                  </p>
                </td>
              </tr>
            </table>
          </x-card>
        </td>
      </tr>
    </table>
    </td>
    </tr>
    </table>
  </div>
</x-main>